.add-btn {
  opacity: 0.6;
}
.add-btn:hover {
  opacity: 0.8;
}

.disabled-btn {
  opacity: 0.4;
}
.disabled-btn:hover {
  cursor: not-allowed;
}

.go-back {
  width: 38px;
}
.go-back:hover {
  cursor: pointer;
  opacity: 0.7;
}
